html,body{
    height:100%;
    background-color:#60408B;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#logo{
   height:20%;
   position:relative;
   top:-50px;
}
#home{
    position:relative;
    top:-150px;
    animation:fadeInTopLeft;
    animation-duration:0.5s;
    
}
#container{
display:flex;
align-self:center;
flex-wrap:wrap;
align-items:center;
justify-content:center;
height:auto;
width:40%;
position:relative;

gap:0px;
border-radius: 5px;
}
#paragraph{
    position:relative;
    text-align:center;
    top:-35px;
    color:white;
    font-size:25px;
}
#button{
  position:relative;
  z-index:1;
top:5%;
  opacity:10;
  height:3rem;
  background-color:rgb(207, 207, 26);
border-radius: 10px;
display: none;
font-weight:bold;
font-size:20px;
animation:fadeInUp;
animation-play-state: running;
animation-duration:0.5s;
animation-iteration-count: 1;
}
#button:hover{
    cursor:pointer;
    border:2px solid black;
    transform:translate(-5px,-5px);
    background-color:rgb(29, 203, 234);
    transition:all 0.2s;
}
#button2:hover{
    cursor:pointer;
    border:2px solid black;
    color:white;
    transform:translate(-5px,-5px);
    transition:all 0.2s;
    background-color:rgb(11, 116, 143)
}
#button2{
    font-size:40px;
    border-radius:20px;
    width:300px;
    height:60px;
    background-color:aquamarine;
    opacity:1;
margin-right:60px;
    animation:bounceInUp backwards;
    animation-delay:0.5s;
    animation-duration:0.5s;
    animation-iteration-count: 1;
 
}
.sideBySideForm{
    display:inline-block;
}
.space{
    flex-basis:100%;
    height:0;
}
.box{
    height:100px;
    width:100px;
    border: solid #00FC85 5px;
    flex-grow:1;
    background-color:#197991;
    color:rgb(189, 189, 32);
    text-align:center;
}
.box:hover{
    background-color:#144a57;
    cursor:pointer;
}
@media (max-width:840px){
    #home{
       height:25%;
    }
    #button2{
        font-size:30px;
        height:45px;
        width:150px;
    }
    .box{
        width:75px;
        height:75px;
        
    }
    #container{
        width:65%;
    }
  

}